{{#partial "contents"}}
      <main class="mdl-layout__content">
        <div class="issues-back">
          <a href="javascript:history.go(-1)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back" role="button">
            <i class="material-icons" role="presentation">arrow_back</i>
          </a>
        </div>
        <div class="issues__posts mdl-grid">
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <form action="/user/join" enctype="multipart/form-data" method="post">
            <div class="mdl-card__title mdl-color-text--grey-50" style="height:100px;">
              <h4>Join Member</h4>
            </div>
            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin:0 auto">
                <input class="mdl-textfield__input" type="text" id="userId" name="userId" placeholder="이메일 형식입니다." autofocus required>
                <input type="button" value="ID중복체크" id="idCheck">
                <label class="mdl-textfield__label" for="userId">User ID</label>
                <span id="result_id_msg"></span>
                <label class="right userId"></label>
              </div>
            </div>
            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin:0 auto">
                <input class="mdl-textfield__input" type="text" id="name" name="name" required>
                <label class="mdl-textfield__label" for="name">Name</label>
                <label class="mdl-textfield__label name"></label>
              </div>
            </div>
            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin:0 auto">
                <input class="mdl-textfield__input" type="password" id="password" name="password" placeholder="특수문자, 숫자가 포함된 8~12자입니다." required>
                <label class="mdl-textfield__label" for="password">Password</label>
                <label class="right password"></label>
              </div>
            </div>
            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin:0 auto">
                <input class="mdl-textfield__input" type="file" id="pic" name="picture">
                <label class="mdl-textfield__label" for="pic">User Pic</label>
              </div>
            </div>
            <div class="mdl-card__supporting-text">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="joinButton" type="submit" style="margin:10px auto; width:200px;">Submit</button>
            </div>

          </form>
          </div>
        </div>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
	window.onload = function() {
		{{#vError}}
			document.querySelector(".{{fieldName}}").innerHTML = "{{errorMessage}}";
		{{/vError}}
	}
</script>
<script src="/js/user.js"></script>
{{/partial}}


{{> template}}
