{{#partial "contents"}}
      <main class="mdl-layout__content">
        <div class="issues-back">
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back" role="button">
            <i class="material-icons" role="presentation">arrow_back</i>
          </a>
        </div>
        {{#milestone}}
        <div class="issues__posts mdl-grid">
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--grey-50" style="height:100px;">
              <i class="material-icons">check_circle</i>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:90%">
                <input class="mdl-textfield__input" type="text" id="subject" name="subject" value="{{subject}}" readonly>
                <label class="mdl-textfield__label" for="subject">subject</label>
              </div>
            </div>
            <div class="mdl-color-text--primary-contrast" style="padding-top:40px; padding-bottom:40px;">
              <div class="input-date" style="padding:15px;">
                <label for="startDate" style="color:#888">startDate</label>
                <input type="date" name="startDate" id="startDate" value="{{startDate}}" readonly >
              </div>
              <div class="input-date" style="padding:15px;">
                <label for="endDate" style="color:#888">endDate</label>
                <input type="date" name="endDate" id="endDate" value="{{endDate}}" readonly>
              </div>
            </div>
            <div class="mdl-color-text--primary-contrast mdl-card__supporting-text">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" 
              onclick="location.href='/milestone/{{id}}/edit'">Modify</button>
                <form action="/milestone/{{id}}" method="post">
	            
	            	<input type="hidden" name="_method" value="DELETE" />
	              	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" >
	              	Delete</button>
            	</form>
            </div>
           
             <div class="mdl-card__title mdl-color-text--grey-50" style="height:100px;">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:90%;">
                <span class="mdl-list__item-primary-content" id="openIssueList">
                      <strong  data-milestone-id="{{milestone.id}}">OpenIssue</strong>
                </span>
                &nbsp;&nbsp;&nbsp;
                <span class="mdl-list__item-primary-content" id="closeIssueList" >
       				  <strong data-milestone-id="{{milestone.id}}">CloseIssue</strong>
                </span>
              </div>
            </div>
            
            <div class="mdl-card__supporting-text">
				<ul class="issue-list mdl-list" id="issueList">
				
				</ul>
			</div>
			
          </div>
        </div>
          {{/milestone}}
          <script type="text/template" id="milestone_footer">
							<li class="mdl-list__item mdl-list__item--two-line">
								<span class="mdl-list__item-primary-content">
								    <a> 
								         <img class="mdl-list__item-avatar" height="48" width="48" src="{6}" alt="javajigi">
									</a> 
									<a href="/issue/{0}">
									    <strong>{1}</strong>
									</a>
									<span class="mdl-list__item-sub-title"> 
									    #{0} {5}
									    <relative-time datetime="2017-01-14" title="2017-01-14">{2}</relative-time> 
									    by <a href="" aria-label="View all issues opened by javajigi" class="tooltipped tooltipped-s muted-link">{3}</a>
									</span>
								</span> 
								<span class="mdl-list__item-secondary-content">
									<span class="material-icons mdl-badge mdl-badge--overlap" data-badge={4}>comment</span>
								</span>
							</li>
          </script>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="/js/milestone.js">
      </script>
{{/partial}}

{{> template}}