{{#partial "contents"}}
      <main class="mdl-layout__content">
        <div class="issues-back">
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back" role="button">
            <i class="material-icons" role="presentation">arrow_back</i>
          </a>
        </div>
        <form id="milestoneForm" action="/milestone/create" method="POST">
        <div class="issues__posts mdl-grid">
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--grey-50" style="height:100px;">
              <i class="material-icons">check_circle</i>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:90%">
                <input class="mdl-textfield__input" type="text" id="subject" name="subject" required>
                <label class="mdl-textfield__label" for="subject">Subject</label>
              </div>
            </div>
            <div class="mdl-color-text--primary-contrast" style="padding-top:40px; padding-bottom:40px;">
              <div class="input-date" style="padding:15px;">
                <label for="startDate" style="color:#888">start date</label>
                <input type="date" name="startDate" id="startDate" required>
              </div>
              <div class="input-date" style="padding:15px;">
                <label for="endDate" style="color:#888">end date</label>
                <input type="date" name="endDate" id="endDate" required>
              </div>
            </div>
            <div class="mdl-color-text--primary-contrast mdl-card__supporting-text">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" style="margin:10px auto; width:200px;">Submit</button>
            </div>
          </div>
        </div>
        </form>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#milestoneForm").submit(function(e) {
			var end = $(this).find("input[name='endDate']").val();
			var start = $(this).find("input[name='startDate']").val();
			if(end < start){
				e.preventDefault();
				alert("시작날자가 종료날자보다 나중입니다.");
			}
		});
	});
	</script>
{{/partial}}

{{> template}}

