{{#partial "contents"}}
		<div class="commentSpace mdl-color-text--primary-contrast mdl-card__supporting-text comments">
		{{#comments}}
		<div class="temptemp"></div>
			<!-- comments start -->
			<div class="comment mdl-color-text--grey-700">
				<header class="comment__header">
					<div class="comment__author">
						<strong> <a class="comment_writer_userId">댓글쓴이 : {{writer.userId}}</a> 
								<pre class="comment_contents">내용 : {{contents}}</pre>
								<span>on {{creationDate}}</span>
						</strong>
					</div>
					{{#files}}
					<div class="comment__file">
						<strong>
								<a href="{{downloadUrl}}">올린 파일 : {{fileName}}</a>
						</strong>
					</div>
					{{/files}}
	
					<a class="deleteCommentBtn mdl-button mdl-js-button mdl-button--icon"  data-issue-id="{{issue.id}}" data-comment-id="{{id}}">
						<i class="material-icons" >delete</i>
					</a>
				</header>
				<hr>
			</div>		
			{{/comments}}
{{/partial}}{{> commentTemplate}}
	
